# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### OpenCart template
.htaccess

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/

system/storage/

!/system/config/db_config.php
